*.faceName: JetBrainsMono NF
*.faceSize: 13
*.renderFont: true
*background: #282828
*color0: #282828
*color1: #fb4934
*color10: #3c3836
*color11: #504945
*color12: #bdae93
*color13: #ebdbb2
*color14: #d65d0e
*color15: #fbf1c7
*color2: #b8bb26
*color3: #fabd2f
*color4: #83a598
*color5: #d3869b
*color6: #8ec07c
*color7: #d5c4a1
*color8: #665c54
*color9: #fe8019
*cursorColor: #d5c4a1
*foreground: #d5c4a1
Sxiv.background: #bdae93
Sxiv.font: Noto Sans-12
Sxiv.foreground: #3c3836
Xcursor.size: 24
Xcursor.theme: WhiteSur-cursors
