/* Using pywal colors */
@import '../../.cache/wal/colors-waybar.css';

/* Font settings */
* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
  font-weight: bold;
}

/* Styling for the entire bar */
window#waybar {
  background-color: @transparent;
  color: @foreground;
  transition-property: background-color;
  transition-duration: .5s;
  border: 0px;
  border-radius: 10px;
}

/* Global module styling */
#custom-rofi,
#clock,
#custom-spotify,
#custom-notification,
#workspaces,
#power-profiles-daemon,
#tray,
#pulseaudio,
#bluetooth,
#network,
#battery,
#custom-power {
  margin: 0;
  padding: 0px 12px;
  color: @foreground;
  background-color: @background;
  border-radius: 14px;
}

/* Hover effects for clickable modules */
#custom-rofi:hover,
#custom-spotify:hover,
#custom-notification:hover,
#power-profiles-daemon:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#custom-power:hover {
  background-color: @color8;
}

/* Setting margins for spacing between modules */
/* Left modules */
#custom-rofi,
#clock,
#custom-spotify {
  margin-right: 6px;
}

/* Center modules */
#custom-notification,
#workspaces,
#power-profiles-daemon {
  margin: 0 3px;
}

/* Right modules */
#tray,
#pulseaudio,
#bluetooth,
#network,
#battery,
#custom-power {
  margin-left: 6px;
}

/* Bigger logo for rofi shortcut */
#custom-rofi {
  font-size: 1.2rem;
}

/* Workspace styling */
#workspaces {
  padding: 0 2px;
}

#workspaces button {
  margin: 4px 2px;
  padding: 0 8px;
  background-color: transparent;
  border-radius: 10px;
}

#workspaces button:hover {
  background-color: @color8;
}

#workspaces button.active {
  color: @background;
  background-color: @color6;
  padding: 0 16px;
}

#workspaces button.urgent {
  color: @background;
  background-color: @color1;
}

/* Power profile colors */
#power-profiles-daemon.performance {
  color: @color3;
}

#power-profiles-daemon.power-saver {
  color: @color6;
}

/* Application tray styling */
#tray {
  font-size: 10;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @color1;
}

/* Merging audio, bluetooth and network modules */
#bluetooth, #network {
  margin-left: 0;
}

#pulseaudio {
  padding-right: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#bluetooth {
  padding: 0 8px;
  border-radius: 0;
}

#network {
  padding-left: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Battery module styling */
#battery.warning {
  color: @color3;
}

#battery.critical {
  color: @color1;
}

/* Extra padding for rounder power button */
#custom-power {
  padding: 0 13px;
}
