/* Using pywal colors */
@import "../../.cache/wal/colors-waybar.css";
@define-color hover alpha(@color8, 0.2);

/* Font settings */
* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
  font-weight: bold;
}

/* Styling for the entire bar */
window#waybar {
  background-color: @transparent;
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: 0px;
  border-radius: 14px;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: @background;
  border: 4px solid @background;
  border-radius: 14px;
}

/* Global module styling */
#custom-rofi,
#clock,
#custom-tidal-hifi,
#workspaces,
#custom-expand-icon,
#pulseaudio,
#bluetooth,
#network,
#battery,
#custom-power,
#custom-reboot,
#custom-lock,
#custom-exit {
  margin: 0px;
  padding: 0px 8px;
  color: @foreground;
  background-color: @background;
  border-radius: 10px;
}

/* Hover effect for modules */
#custom-rofi:hover,
#clock:hover,
#custom-tidal-hifi:hover,
#custom-expand-icon:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#custom-power:hover,
#custom-reboot:hover,
#custom-lock:hover,
#custom-exit:hover {
  background-color: @hover;
}

/* Setting margins for spacing between modules */
/* Left modules */
#custom-rofi,
#clock {
  margin-right: 2px;
}

/* Center modules - enable/edit when there is more than one center module*/
/* #workspaces { */
/*   margin: 0px 1px; */
/* } */

/* Right modules */
#custom-expand-icon,
#pulseaudio,
#bluetooth,
#network,
#battery,
#custom-power,
#custom-reboot,
#custom-lock,
#custom-exit {
  margin-left: 2px;
}

/* Bigger logo for rofi shortcut */
#custom-rofi {
  font-size: 1.2rem;
}

/* Workspace styling */
#workspaces {
  padding: 0px;
}

#workspaces button {
  margin: 0px 2px;
  padding: 0px 10px;
  color: @foreground;
  background-color: transparent;
  border-radius: 10px;
}

#workspaces button:hover {
  background-color: @background;
}

#workspaces button.active {
  color: @background;
  background-color: @color2;
  padding: 0px 20px;
}

#workspaces button.urgent {
  color: @background;
  background-color: @color1;
}

#workspaces button:first-child {
  margin-left: 0px;
}

#workspaces button:last-child {
  margin-right: 0px;
}

/* Application tray styling */
#tray {
  font-size: 10px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  background-color: @color1;
  -gtk-icon-effect: highlight;
}

/* Battery module styling */
#battery.warning {
  color: @color3;
}

#battery.critical {
  color: @color1;
}
